.normalAbout {
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.5em;
    font-size: large;
}

.aboutMe {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 30px;
}

.highlightAbout {
    color: #5eb8ae;
    font-weight: bold;
}

.highlightAbout::after {
    display: block;
    content: " ";
    background-color: #5eb8ae;
    height: 1px;
    width: 40px;

}

.highlightAbout {
    display: inline-block;
    position: relative;
    color: #5eb8ae;
}

.highlightAbout:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #5eb8ae;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.highlightAbout:hover:after {
    transform: scaleX(0.99);
    transform-origin: bottom left;
}

.logoJS {
    cursor: pointer;
    transform: scale(1);
}

.logoJS:hover {
    transform: scale(1.2);
    transition: 1s ease-out;
}

.cardSkill {
    padding: 10px;
    border-radius: 5px;
    /* background-color: #3c3c3c; */
    /* box-shadow: 0.1rem 0.1rem #4b4b4b; */
    width: 120px;
    height: 120px;
    margin-left: 10px;
    margin-right: 10px;
    align-items: center;
    justify-content: center;
}

.textSkill {
    color: #5eb8ae;
    text-align: center;
    margin-top: 4px;
}