.quickEmail {
    position: fixed;
    top: 0;
    right: 40px;
}

.quickEmailStart {
    display: block;
    height: 150px;
    width: 1px;
    background-color: black;
    margin: auto;
}

.frameEmail {
    padding: 12px 0px;
}

.email {
    margin-top: 12px;
    writing-mode: vertical-lr;
    letter-spacing: 4px;
    font-size: 12px;
}